# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.venv*/
.env.local
.env.*
.python-version
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# Editors
.idea/

# Node/Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE
.vscode/
